<h2 class="section-title">Partidos Pasados</h2>
<div class="matches-grid-2col" *ngIf="matches.length > 0; else noPastMatches">
  <div
    class="match-row current"
    *ngFor="let match of matches"
    [ngClass]="getResultClass(match)"
    [routerLink]="['/partidos', match.id]"
    style="cursor:pointer"
  >
    <span class="col-left">{{ match.homeTeam }}</span>

    <!-- Con resultado -->
    <span class="col-center strong" *ngIf="match.score && match.score.trim() !== ''">
      {{ match.score }}
    </span>

    <span class="col-right">{{ match.awayTeam }}</span>
  </div>
</div>

<ng-template #noPastMatches>
  <div class="empty">No hay datos disponibles.</div>
</ng-template>