<div>
  <h2>Top Goleadores</h2>

  @if (players && players.length > 0) {
    <div class="flex-1">
      @for (p of players; track $index) {
        <div 
          class="flex hover-row"
          [routerLink]="['/jugadores', p.playerId]"
          style="cursor:pointer"
        >
          <div class="w-10">{{ $index + 1 }}</div>
          <div class="flex-1">{{ p.playerName }}</div>
          <div class="text-red-600 font-bold">{{ p.valor }}</div>
        </div>
      }
    </div>
  } @else {
    <p class="text-gray-500">No hay datos disponibles</p>
  }
</div>