<h2 class="section-title">Próximos partidos</h2>

<div *ngIf="matches.length === 0" class="empty">No hay datos disponibles.</div>

<div class="matches-grid-2col" *ngIf="matches.length > 0">
  <div
    class="match-row"
    *ngFor="let match of matches"
    [routerLink]="['/partidos', match.id]"
    style="cursor:pointer"
  >
    <span class="col-left">{{ match.homeTeam }}</span>

    <!-- Fecha/hora centrado -->
    <span class="col-center">
      <span class="day">{{ formatDay(match.day) }} </span>
      <span class="time">{{ match.time }}</span>
    </span>

    <span class="col-right">{{ match.awayTeam }}</span>
  </div>
</div>